.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

GEMINI.md
DONE.md
.DS_Store
Thumbs.db

.env
05 SQL/imdb.*
05 SQL/movie.sqlite
05 SQL/northwind.db
05 SQL/downloads/name.basics.tsv.gz
05 SQL/downloads/title.akas.tsv.gz
05 SQL/downloads/title.basics.tsv.gz
05 SQL/downloads/title.episode.tsv.gz
05 SQL/downloads/title.principals.tsv.gz
05 SQL/downloads/title.ratings.tsv.gz
